footer {
  text-align: center;
  background-color: #0a0a0a;
  border-top: 2px solid gray;
  color: #fff;
  text-shadow: 0 0 2px #fff;
  font-size: 0.8em;
  padding: 5px;
}

.footer-effect {
  animation: symbol-anim 7s 0.5s infinite alternate;;
}

@keyframes footer-anim {
  0% {
    color: var(--neon2);
    text-shadow: 0 0 2px var(--neon2);
  }
  50% {
    color: var(--neon4);
    text-shadow: 0 0 2px var(--neon4);
  }
  100% {
    color: var(--neon3);
    text-shadow: 0 0 2px var(--neon3);
  }
}
